<div [ngClass]="isDarkMode ? 'dark-mode': ''">
  <header>
    <div class="row">
      <div class="col header-logo">
        <a *ngIf="isLanguageHu" href="https://www.inf.elte.hu/" target="_blank"><img src="./assets/elte.png"
            alt="ELTE logo"></a>
        <a *ngIf="!isLanguageHu" href="https://www.inf.elte.hu/en/" target="_blank"><img src="./assets/elte.png"
            alt="ELTE logo"></a>
      </div>
      <div class="col header-icons">
        <button (click)="changeDarkMode()">
          <span *ngIf="isDarkMode" class="material-symbols-outlined">
            dark_mode
          </span>
          <span *ngIf="!isDarkMode" class="material-symbols-outlined">
            light_mode
          </span>
          <p class="text-center">
            {{getDarkModeText()}}
          </p>
        </button>
        <button (click)="changeLanguage()">
          <span class="material-symbols-outlined text-center">
            language
          </span>
          <p *ngIf="isLanguageHu" lang="hu" class="text-center">
            HU
          </p>
          <p *ngIf="!isLanguageHu" lang="en" class="text-center">
            EN
          </p>
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="modal fade" id="deleteSubjectModal" tabindex="-1" aria-labelledby="deleteSubjectModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-5" id="deleteSubjectModalLabel">{{modalTitleText}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body border-0">
            {{modalBodyText}}
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{modalSecondButtonText}}</button>
            <button type="button" class="btn btn-primary custom-modal-button" data-bs-dismiss="modal"
              (click)="deleteSubject()">{{modalFirstButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteCurriculumModal" tabindex="-1" aria-labelledby="deleteCurriculumModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-5" id="deleteCurriculumModalLabel">{{modalTitleText}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body border-0">
            {{modalBodyText}}
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{modalSecondButtonText}}</button>
            <button type="button" class="btn btn-primary custom-modal-button" data-bs-dismiss="modal"
              (click)="resetCurriculum()">{{modalFirstButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h1 [ngClass]="isDarkMode ? 'dark-mode-text': ''">
        <span *ngIf="isLanguageHu" lang="hu">
          ELTE IK - Tantervi háló
        </span>
        <span *ngIf="!isLanguageHu" lang="en">
          ELTE IK - Program Structure
        </span>
      </h1>
      <div>
        <div class="instruction-title">
          <a *ngIf="isLanguageHu" class="btn btn-primary" lang="hu" data-bs-toggle="collapse"
            href="#collapseInstructions" role="button" aria-expanded="true" aria-controls="collapseInstructions"
            [ngClass]="isDarkMode ? 'dark-mode-border': ''">
            Használati utasítás
          </a>
          <a *ngIf="!isLanguageHu" class="btn btn-primary" lang="en" data-bs-toggle="collapse"
            href="#collapseInstructions" role="button" aria-expanded="true" aria-controls="collapseInstructions"
            [ngClass]="isDarkMode ? 'dark-mode-border': ''">
            Instructions
          </a>
        </div>
        <div class="collapse instruction-text" id="collapseInstructions" lang="hu">
          <p class="warning">
            <span class="material-symbols-outlined align-middle">
              warning
            </span>
            <span class="align-middle" *ngIf="isLanguageHu">
              Figyelem!
            </span>
            <span class="align-middle" *ngIf="!isLanguageHu">
              Attention!
            </span>
          </p>
          <p *ngIf="isLanguageHu">A tantervi tervező egy hivatalosnak nem minősülő ajánlás, mely segíti megérteni
            a mintatanterv logikáját, rávilágít az egymásra épülő tárgyak fontosságára, ezzel segítve a problémamentes
            tárgyfelvételt és a haladást.
            A tantervi hálóban található, vagy a háló értelmezéséből eredő hibák miatt felelősséget nem vállalunk!
            Minden esetben ellenőrizd a <a href="https://neptun.elte.hu/" target="_blank"> Neptunban</a> a tárgyak
            előfeltételét és a <a href="https://www.inf.elte.hu/aktualis-tantervi-halok" target="_blank"> Tanulmányi
              Hivatal</a> hirdetményeit!</p>
          <p *ngIf="!isLanguageHu">The curriculum planner is an unofficial recommendation that helps to understand
            the logic of the sample curriculum. It highlights the importance of prerequisite subjects, thereby assisting
            with
            smooth registration and progress. We do not take responsibility for any errors that may arise from the
            missinterpretation of the curriculum network found here! Always check the prerequisites for subjects in <a
              href="https://neptun.elte.hu/" target="_blank">
              Neptun</a> and the announcements from the <a href="https://www.elte.hu/en/computer-science-bsc"
              target="_blank"> Education Office</a>.</p>
          <p *ngIf="isLanguageHu">Az oldal célja, hogy segítsen a tárgyak egymásra épülésének interaktív
            ábrázolásával. Az oldalon lehetőség van a már teljesített tárgyak, az aktuálisan felvehető tárgyak és a
            függőségek megjelenítésére. Javasoljuk, hogy ne csak az előfeltételeket ellenőrizd a tárgyak áthelyezésénél,
            hanem a ráépülő tárgyakat is.</p>
          <p *ngIf="!isLanguageHu"> The purpose of the website is to assist in visualizing the interdependency
            of subjects.
            The site displays the fulfilled subjects, currently available subjects to enroll in and their
            dependencies. We recommend that you check not only the prerequisites when rescheduling subjects, but also
            the overlay subjects.</p>
          <p class="actions-info" *ngIf="isLanguageHu">A következő tantervvel kapcsolatos műveletekre nyújt lehetőséget
            az oldal:</p>
          <p class="actions-info" *ngIf="!isLanguageHu">The following operations related to the curriculum are available
            on the page:</p>
          <ul>
            <li> <span class="material-symbols-outlined align-middle">
                change_circle
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - a tárgyak állapotának változtatása: a tárgy dobozára való kattintással/koppintással. Az állapotok:
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - Changing the status of subjects: by clicking/tapping on the subject box. The statuses are:
              </span>
              <ul class="li-status">
                <li>
                  <span class="material-symbols-outlined align-middle not-enrolled-info">
                    block
                  </span>
                  <span class="align-middle" *ngIf="isLanguageHu">
                    - nem felvett: nem lehet felvenni az előfeltételek miatt
                  </span>
                  <span class="align-middle" *ngIf="!isLanguageHu">
                    - not enrolled: cannot be taken due to prerequisites
                  </span>
                </li>
                <li>
                  <span class="material-symbols-outlined align-middle available-info">
                    add_task
                  </span>
                  <span class="align-middle" *ngIf="isLanguageHu">
                    - elérhető: fel lehet venni, mert minden előfeltétel teljesült
                  </span>
                  <span class="align-middle" *ngIf="!isLanguageHu">
                    - available: can be taken as all prerequisites are fulfilled
                  </span>
                </li>
                <li>
                  <span class="material-symbols-outlined align-middle enrolled-info">
                    clock_loader_40
                  </span>
                  <span class="align-middle" *ngIf="isLanguageHu">
                    - felvett: a tárgy teljesítése folyamatban van
                  </span>
                  <span class="align-middle" *ngIf="!isLanguageHu">
                    - enrolled: the subject is currently being taken
                  </span>
                </li>
                <li>
                  <span class="material-symbols-outlined align-middle completed-info">
                    verified
                  </span>
                  <span class="align-middle" *ngIf="isLanguageHu">
                    - teljesített: a tárgyat elvégezte a hallgató
                  </span>
                  <span class="align-middle" *ngIf="!isLanguageHu">
                    - fulfilled: the subject has been fulfilled by the student
                  </span>
                </li>
                <li>
                  <span class="align-middle" *ngIf="isLanguageHu">
                    További jelölések:
                  </span>
                  <span class="align-middle" *ngIf="!isLanguageHu">
                    Further notations:
                  </span>
                </li>
                <li>
                  <span class="material-symbols-outlined align-middle overlay-info">
                    check_box_outline_blank
                  </span>
                  <span class="align-middle" *ngIf="isLanguageHu">
                    - ráépülő tárgy
                  </span>
                  <span class="align-middle" *ngIf="!isLanguageHu">
                    - overlay subject
                  </span>
                </li>
                <li>
                  <span class="material-symbols-outlined align-middle prerequisite-info">
                    check_box_outline_blank
                  </span>
                  <span class="align-middle" *ngIf="isLanguageHu">
                    - közvetlen előfeltétel
                  </span>
                  <span class="align-middle" *ngIf="!isLanguageHu">
                    - proximate prerequisite
                  </span>
                </li>
              </ul>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                drag_pan
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - tárgyak mozgatása egy másik félévbe: a tárgy dobozának áthúzása egy másik oszlopba (drag and drop)
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - moving subjects to another semester: by dragging and dropping the subject box to another column
              </span>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                more_horiz
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - több információ egy adott tárggyal kapcsolatban
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - more information about a specific subject
              </span>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                add_circle
              </span>
              <span class="align-middle">
                |
              </span>
              <span class="material-symbols-outlined align-middle">
                delete_forever
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - kötelezően választható és szabadon választható tárgyak felvétele és törlése
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - adding and removing compulsory elective and elective subjects
              </span>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                add_box
              </span>
              <span class="align-middle">
                |
              </span>
              <span class="material-symbols-outlined align-middle">
                delete_forever
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - félévek hozzáadása és törlése
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - adding and deleting semesters
              </span>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                swap_horiz
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - kötelezően választható tárgy áthelyezése szabadon választhatóba és fordítva
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - switch from compulsory elective to elective and vice versa
              </span>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                info
              </span>
              <span class="align-middle">
                ->
              </span>
              <span class="material-symbols-outlined align-middle internship-icon-info">
                check_small
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - szakmai gyakorlat elvégzésének jelölése
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - indicating the completion of internship
              </span>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                info
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - több információ az aktuális tantervvel kapcsolatban
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - more information about the curriculum
              </span>
            </li>
            <li>
              <span class="material-symbols-outlined align-middle">
                list
              </span>
              <span class="align-middle" *ngIf="isLanguageHu">
                - tanterv változtatása
              </span>
              <span class="align-middle" *ngIf="!isLanguageHu">
                - changing the curriculum
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="subject-manager" [ngClass]="isDarkMode ? 'dark-mode-border-thicker': ''">
        <div class="subject-header">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle spec-name" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{currentSpecName}}
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let c of curriculums; let i = index">
                <button (click)="changeSpec(i)" class="dropdown-item spec-item" type="button">{{c.specName}}</button>
              </li>
            </ul>
          </div>
          <div id="info" class="dropend">
            <button class="more-info-curriculum" click-stop-propagation data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="material-symbols-outlined">
                info
              </span>
            </button>
            <div click-stop-propagation class="dropdown-menu info-subject">
              <div class="row">
                <div class="col">
                  <p class="info-title">
                    Kötelező teljesítések:
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <div class="info-text">
                      <p>
                        <span *ngIf="isLanguageHu" lang="hu">Kötelezően vál. tárgyak: </span>
                        <span *ngIf="!isLanguageHu" lang="en">Comp. electives:</span>
                      </p>
                    </div>
                  </div>
                  <div class="row" *ngIf="curriculums[currentSpecIdx].compElectiveCreditsNeeded[1]!=0">
                    <div class="info-text ken-text">
                      <p>
                        <span *ngIf="isLanguageHu" lang="hu">Informatika ism.: </span>
                        <span *ngIf="!isLanguageHu" lang="en">Informatics:</span>
                      </p>
                    </div>
                  </div>
                  <div class="row" *ngIf="curriculums[currentSpecIdx].compElectiveCreditsNeeded[1]!=0">
                    <div class="info-text ken-text">
                      <p>
                        <span *ngIf="isLanguageHu" lang="hu">Számítástudomány ism.: </span>
                        <span *ngIf="!isLanguageHu" lang="en">Comp. Science:</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <p>
                      {{curriculums[currentSpecIdx].compElectiveCreditsInfo +
                      curriculums[currentSpecIdx].compElectiveCreditsCompScience}}/{{curriculums[currentSpecIdx].compElectiveCreditsNeeded[0]
                      + curriculums[currentSpecIdx].compElectiveCreditsNeeded[1]}}
                    </p>
                  </div>
                  <div class="row" *ngIf="curriculums[currentSpecIdx].compElectiveCreditsNeeded[1]!=0">
                    <p>
                      {{curriculums[currentSpecIdx].compElectiveCreditsInfo}}/{{curriculums[currentSpecIdx].compElectiveCreditsNeeded[0]}}
                    </p>
                  </div>
                  <div class="row" *ngIf="curriculums[currentSpecIdx].compElectiveCreditsNeeded[1]!=0">
                    <p>
                      {{curriculums[currentSpecIdx].compElectiveCreditsCompScience}}/{{curriculums[currentSpecIdx].compElectiveCreditsNeeded[1]}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row elective-credits">
                <div class="col-8">
                  <div class="info-text">
                    <p>
                      <span *ngIf="isLanguageHu" lang="hu">Szabadon vál. tárgyak: </span>
                      <span *ngIf="!isLanguageHu" lang="en">Electives:</span>
                    </p>
                  </div>
                </div>
                <div class="col">
                  <p>
                    {{curriculums[currentSpecIdx].electiveCredits}}/10
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="info-text internship-text">
                    <div>
                      <span *ngIf="isLanguageHu" lang="hu">
                        Szakmai gyakorlat:
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Internship:
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="internship-icon">
                    <span *ngIf="curriculums[currentSpecIdx].isInternshipCompleted" class="material-symbols-outlined"
                      (click)="this.curriculums[currentSpecIdx].isInternshipCompleted=(!this.curriculums[currentSpecIdx].isInternshipCompleted)">
                      check_small
                    </span>
                    <span *ngIf="!curriculums[currentSpecIdx].isInternshipCompleted" class="material-symbols-outlined"
                      (click)="this.curriculums[currentSpecIdx].isInternshipCompleted=(!this.curriculums[currentSpecIdx].isInternshipCompleted)">
                      close
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="operation-icons">
            <div class="btn-group dropend">
              <button class="add-columns-icon btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-symbols-outlined">
                  add_circle
                </span>
                <p *ngIf="isLanguageHu" class="hide" lang="hu">
                  Tárgy felv.
                </p>
                <p *ngIf="!isLanguageHu" class="hide" lang="en">
                  Add subject
                </p>
              </button>
              <div class="dropdown-menu">
                <form #newSubjectForm="ngForm" (ngSubmit)="submitFormEventHandler(newSubjectForm)"
                  class="new-subject-form px-4 py-3">
                  <div class="mb-3">
                    <label for="spec" class="form-label">Típus</label>
                    <select class="form-control" id="spec" name="spec" [(ngModel)]="subjectToAddSpecType">
                      <option value="compulsory">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Kötelezően választható
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Comp. elective subject
                        </span>
                      </option>
                      <option value="not compulsory">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Szabadon választható
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Elective subject
                        </span>
                      </option>
                    </select>
                  </div>
                  <div *ngIf="subjectToAddSpecType=='not compulsory'">
                    <div class="mb-3">
                      <label for="code" class="form-label">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Kód
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Code
                        </span>
                      </label>
                      <input type="text" class="form-control" id="code" placeholder="IP-18PROGEG" name="code"
                        [(ngModel)]="electiveSubjectsForm.code">
                      <p id="code-warning"> </p>
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Név
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Name
                        </span>
                      </label>
                      <input type="text" class="form-control" id="name" name="name"
                        [(ngModel)]="electiveSubjectsForm.name">
                      <p id="name-warning"> </p>
                    </div>
                    <div class="mb-3">
                      <label for="credit" class="form-label">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Kredit
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Credit
                        </span>
                      </label>
                      <input type="number" class="form-control" id="credit" placeholder="5" name="credit"
                        [(ngModel)]="electiveSubjectsForm.credit">
                    </div>
                    <div class="mb-3">
                      <div class="subj-type">
                        <label *ngIf="!(curriculums[currentSpecIdx].isEnglish)" lang="hu" class="radio-inline"><input
                            type="radio" name="type" checked value="EA" [(ngModel)]="electiveSubjectsForm.type">
                          <span *ngIf="isLanguageHu" lang="hu">
                            EA
                          </span>
                          <span *ngIf="!isLanguageHu" lang="en">
                            L
                          </span>
                        </label>
                        <label *ngIf="curriculums[currentSpecIdx].isEnglish" lang="en" class="radio-inline"><input
                            type="radio" name="type" checked value="L" [(ngModel)]="electiveSubjectsForm.type">
                          <span *ngIf="isLanguageHu" lang="hu">
                            EA
                          </span>
                          <span *ngIf="!isLanguageHu" lang="en">
                            L
                          </span>
                        </label>
                        <label *ngIf="!(curriculums[currentSpecIdx].isEnglish)" lang="hu" class="radio-inline"><input
                            type="radio" name="type" value="GY" [(ngModel)]="electiveSubjectsForm.type">
                          <span *ngIf="isLanguageHu" lang="hu">
                            GY
                          </span>
                          <span *ngIf="!isLanguageHu" lang="en">
                            P
                          </span>
                        </label>
                        <label *ngIf="curriculums[currentSpecIdx].isEnglish" lang="en" class="radio-inline"><input
                            type="radio" name="type" value="P" [(ngModel)]="electiveSubjectsForm.type">
                          <span *ngIf="isLanguageHu" lang="hu">
                            GY
                          </span>
                          <span *ngIf="!isLanguageHu" lang="en">
                            P
                          </span>
                        </label>
                        <label class="radio-inline"><input type="radio" name="type" value=""
                            [(ngModel)]="electiveSubjectsForm.type">
                          <span *ngIf="isLanguageHu" lang="hu">
                            EA+GY
                          </span>
                          <span *ngIf="!isLanguageHu" lang="en">
                            L+P
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="semesterNumber" class="form-label">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Félév
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Semester
                        </span>
                      </label>
                      <select class="form-control" id="semesterNumber" name="semester"
                        [(ngModel)]="electiveSubjectsForm.semester">
                        <option *ngFor="let c of curriculums[currentSpecIdx].semesters; let i = index" value={{i}}>
                          {{i+1}}
                        </option>
                      </select>
                    </div>
                    <div class="mb-3" *ngIf="!curriculums[currentSpecIdx].isEnglish">
                      <label for="ken" class="form-label">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Ismeretkör
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Competence
                        </span>
                      </label>
                      <input *ngIf="isLanguageHu" type="text" class="form-control" placeholder="Informatika" id="ken"
                        name="ken" [(ngModel)]="electiveSubjectsForm.ken">
                      <input *ngIf="!isLanguageHu" type="text" placeholder="Informatics" class="form-control" id="ken"
                        name="ken" [(ngModel)]="electiveSubjectsForm.ken">
                      <p id="name-warning"> </p>
                    </div>
                  </div>
                  <div *ngIf="subjectToAddSpecType=='compulsory'">
                    <div class="mb-3">
                      <label for="obligSpecSubject" class="form-label">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Név
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Name
                        </span>
                      </label>
                      <select class="form-control" id="obligSpecSubject" name="obligName"
                        [(ngModel)]="compElectiveSubjectsForm.name">
                        <option *ngFor="let s of curriculums[currentSpecIdx].compElectiveSubjects; let i = index"
                          value={{i}}>
                          {{s.name}} {{s.type}}</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="elecSemesterNumber" class="form-label">
                        <span *ngIf="isLanguageHu" lang="hu">
                          Félév
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          Semester
                        </span>
                      </label>
                      <select class="form-control" id="elecSemesterNumber" name="semester"
                        [(ngModel)]="compElectiveSubjectsForm.semester">
                        <option *ngFor="let c of curriculums[currentSpecIdx].semesters; let i = index" value={{i}}>
                          {{i+1}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="subjectToAddSpecType!==''">
                    <button [disabled]="!checkForm()" type="submit" class="btn btn-primary">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Felvesz
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Add
                      </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <button class="btn add-columns-icon" (click)="addSemester()">
              <span class="material-symbols-outlined">
                add_box
              </span>
              <p *ngIf="isLanguageHu" class="hide" lang="hu">
                Félév felv.
              </p>
              <p *ngIf="!isLanguageHu" class="hide" lang="en">
                Add semest.
              </p>
            </button>
          </div>
        </div>
        <div class="subject-main" (click)="curriculums[currentSpecIdx].updateCurrentSubjectCode('')">
          <div class="row flex-nowrap overflow-auto" cdkDropListGroup>
            <div class="col" *ngFor="let c of curriculums[currentSpecIdx].semesters; let i = index">
              <div class="semester">
                <div class="btn-group">
                  <div>
                    <span class="align-middle" *ngIf="isLanguageHu" lang="hu">
                      {{i+1}}. félév |
                    </span>
                    <span class="align-middle" *ngIf="!isLanguageHu" lang="en">
                      {{i+1}}. semester |
                    </span>
                    <span class="material-symbols-outlined align-middle delete-semester-icon"
                      (click)="deleteSemester(i)">
                      delete_forever
                    </span>
                  </div>
                </div>
              </div>
              <div class="list-{{i}} subjects" cdkDropList (cdkDropListDropped)="dropEventHandler($event,i)">
                <app-subject class="subject-comp"
                  *ngFor="let s of curriculums[currentSpecIdx].semesters[i].subjects; let j = index" [parentData]="s"
                  [languageData]="isLanguageHu" [curriculumData]="curriculums[currentSpecIdx].isEnglish"
                  (notifyDeleteSubject)="showDeleteSubjectModal($event,i)"
                  (notifyStatusChange)="clickEventHandler($event,i)"
                  (notifyTypeChange)="changeTypeEventHandler($event)" cdkDrag [cdkDragDisabled]="s.status!==0"
                  click-stop-propagation>
                </app-subject>
              </div>
            </div>
          </div>
          <div class="row flex-nowrap subject-credits overflow-auto" cdkDropListGroup>
            <div class="col" *ngFor="let c of curriculums[currentSpecIdx].semesters; let i = index">
              <div class="credits">
                <p *ngIf="isLanguageHu" lang="hu">Felvett:
                  {{curriculums[currentSpecIdx].semesters[i].enrolledCredits}}
                </p>
                <p *ngIf="!isLanguageHu" lang="en">Enrolled:
                  {{curriculums[currentSpecIdx].semesters[i].enrolledCredits}}
                </p>
                <p *ngIf="isLanguageHu" lang="hu">Teljesített:
                  {{curriculums[currentSpecIdx].semesters[i].completedCredits}}
                </p>
                <p *ngIf="!isLanguageHu" lang="en">Fulfilled:
                  {{curriculums[currentSpecIdx].semesters[i].completedCredits}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subject-footer container">
        <div class="row">
          <div class="col-1 color-desc">
            <ul>
              <li id="normal">
                <span *ngIf="isLanguageHu" lang="hu">
                  Nem felvett
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  Not enrolled
                </span>
              </li>
              <li id="available">
                <span *ngIf="isLanguageHu" lang="hu">
                  Elérhető
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  Available
                </span>
              </li>
              <li id="inprogress">
                <span *ngIf="isLanguageHu" lang="hu">
                  Felvett
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  Enrolled
                </span>
              </li>
              <li id="completed">
                <span *ngIf="isLanguageHu" lang="hu">
                  Teljesített
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  Fulfilled
                </span>
              </li>
              <li id="prerequisite">
                <span *ngIf="isLanguageHu" lang="hu">
                  Közv. előfeltétel
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  Prerequisite
                </span>
              </li>
              <li id="overlay">
                <span *ngIf="isLanguageHu" lang="hu">
                  Ráépülő
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  Overlay
                </span>
              </li>
            </ul>
          </div>
          <div class="row d-flex align-items-center">
            <div class="progress-credits" [ngClass]="isDarkMode ? 'dark-mode-border': ''">
              <span *ngIf="isLanguageHu" lang="hu">
                Teljesített kreditek:
              </span>
              <span *ngIf="!isLanguageHu" lang="en">
                Fulfilled credits:
              </span>
            </div>
            <div class="progress-col">
              <div class="progress-bar">
                <div class="progress-completed" [style.width]="curriculums[currentSpecIdx].completedCreditsPerc">
                </div>
                <div class="progress-enrolled" [style.width]="curriculums[currentSpecIdx].enrolledCreditsPerc">
                </div>
              </div>
              <div class="progress-in-numbers" [ngClass]="isDarkMode ? 'dark-mode-text': ''">
                <span *ngIf="isLanguageHu" lang="hu">
                  {{curriculums[currentSpecIdx].completedCredits}}/180 kredit
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  {{curriculums[currentSpecIdx].completedCredits}}/180 credits
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cont-action">
        <div class="action-buttons row justify-content-center">
          <div class="col">
            <button class="delete-forever-btn" data-bs-toggle="modal" data-bs-target="#deleteCurriculumModal"
              (click)="showResetCurriculumModal()" [ngClass]="isDarkMode ? 'dark-mode-border': ''">
              <span class="material-symbols-outlined">
                delete_forever
              </span>
              <p *ngIf="isLanguageHu" lang="hu">
                Törlés
              </p>
              <p *ngIf="!isLanguageHu" lang="en">
                Reset
              </p>
            </button>
          </div>
          <div class="dropend col">
            <button class="save-btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              [ngClass]="isDarkMode ? 'dark-mode-border': ''">
              <span class="material-symbols-outlined">
                save_as
              </span>
              <p *ngIf="isLanguageHu" lang="hu">
                Mentés
              </p>
              <p *ngIf="!isLanguageHu" lang="en">
                Save
              </p>
            </button>
            <ul class="dropdown-menu action-options">
              <li>
                <button class="dropdown-item" (click)="saveCurriculumToFile()">
                  <span *ngIf="isLanguageHu" lang="hu">
                    Fájlként
                  </span>
                  <span *ngIf="!isLanguageHu" lang="en">
                    As a file
                  </span>
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="saveCurriculumToStorage()">
                  <span *ngIf="isLanguageHu" lang="hu">
                    Lokális böng. tárolóba
                  </span>
                  <span *ngIf="!isLanguageHu" lang="en">
                    To the Local Storage
                  </span>
                </button>
              </li>
            </ul>
          </div>
          <div class="dropend col">
            <button class="col load-btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              [ngClass]="isDarkMode ? 'dark-mode-border': ''">
              <span class="material-symbols-outlined">
                reopen_window
              </span>
              <p *ngIf="isLanguageHu" lang="hu">
                Betöltés
              </p>
              <p *ngIf="!isLanguageHu" lang="en">
                Load
              </p>
            </button>
            <ul class="dropdown-menu action-options">
              <li>
                <button class="dropdown-item" (click)="fileUpload.click()">
                  <span *ngIf="isLanguageHu" lang="hu">
                    Fájlból
                  </span>
                  <span *ngIf="!isLanguageHu" lang="en">
                    From a file
                  </span>
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="loadCurriculumFromStorage()">
                  <span *ngIf="isLanguageHu" lang="hu">
                    Lokális böng. tárolóból
                  </span>
                  <span *ngIf="!isLanguageHu" lang="en">
                    From the Local Storage
                  </span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <input type="file" accept=".txt" class="file-input" (change)="openFile($event)" #fileUpload>

  </main>
  <footer>
    <div>
      <div class="footer-info">
        2024 | ELTE IK
      </div>
    </div>
  </footer>
</div>