header {
    background-color: #049FA4;
}

header>div {
    width: 100%;
    height: 65px;
}

main {
    width: 70%;
    margin-left: 15%;
}

footer>div {
    width: 100%;
    height: 75px;
    background-color: #049FA4;
    color: white
}

h1 {
    padding-top: 60px;
    text-align: center;
    color: #002851;
}

.instruction-title {
    margin-top: 50px;
}

.instruction-title>a:hover {
    background-color: #049FA4;
    font-style: italic;
}

.instruction-text {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    max-width: 800px;
    padding-left: 20px;
    border: dashed;
    background-color: #F4F4F4;
}

.instruction-title>a {
    background-color: #002851;
    border-color: #002851;
}

.subject-header {
    border-bottom: solid;
    height: 50px;
    background-color: #002851;
}

.subject-manager {
    margin-top: 50px;
    border-style: solid;
    margin-bottom: 10px;
}

.subject-main {
    border-top: 0cm;
    height: 700px;
    background-color: #F4F4F4;
}

.subject-main>div:first-of-type {
    height: 640px;
    margin-bottom: 15px;
}

.subject-main>div {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.subject-main>div>app-semester {
    height: 100%;
    min-width: 12.8%;
}

.subject-main>div>div {
    height: 100%;
    min-width: 12.8%;
}

.subject-credits {
    background-color: #002851;
    color: white;
    height: 45px;
    width: 100%;
    margin: 0;
}

.subject-credits>div {
    background-color: #002851;
}

.subject-footer {
    height: 50px;
}

.spec-name {
    background-color: #049FA4;
    border-color: #049FA4;
}

.spec-name:hover {
    font-style: italic;
}

.spec-item:hover {
    background-color: #049FA4;
    color: white;
}

.semester {
    height: 8%;
    text-align: center;
}

.subjects {
    height: 86%;
}

.credits {
    width: 100%;
    padding-top: 5px;
    font-size: 0.7em;
    font-weight: bold;
}

.credits>p {
    margin-bottom: 0;
}

.progress-completed {
    position: absolute;
    height: 15px;
    background-color: #0288D1;
    z-index: 2;
}

.progress-enrolled {
    position: absolute;
    height: 15px;
    background-color: #FFB300;
    z-index: 1;
}

.progress-bar {
    height: 15px;
    line-height: 15px;
    width: 80%;
    background-color: #EDECEC;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.progress-credits {
    width: fit-content;
    background-color: #002851;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
}

.progress-credits>span {
    font-size: 0.8em;
    font-weight: bold;
}

.progress-col {
    padding-left: 0;
    padding-right: 5px;
    width: 70%;
}

.progress-col>div {
    float: left;
}

.progress-in-numbers {
    font-size: 0.7em;
    height: 15px;
    padding-left: 10px;
    width: 20%;
}

.color-desc {
    padding-right: 0px;
    width: 100%;
}

.color-desc>ul {
    float: right;
    margin-top: 0px;
}

.color-desc>ul>li {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    font-size: 0.7em;
    height: 26px;
}

.more-info-curriculum {
    float: left;
    padding-top: 7px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    height: 47px;
    color: white;
}

.info-title {
    background-color: #049FA4;
    color: white;
    padding-left: 5px;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.elective-credits {
    height: 30px;
}

.internship-icon>span {
    font-size: 1em;
    border: solid;
}

.internship-icon-info {
    border: solid;
    font-size: 1em;
}

.more-info-curriculum>span {
    font-size: 2em;
}

.more-info-curriculum:hover>span {
    font-weight: bold;
}

.info-text {
    margin-left: 5px;
    margin-bottom: 0px;
}

.info-text>p {
    margin: 0px;
    font-size: 0.8em;

}

.ken-text {
    margin-left: 30px;
}

.info-text>p>span:first-child {
    font-size: 1.2em;
}

.info-text>span {
    font-weight: bold;
}

.info-subject {
    width: 350px;
    padding: 0;
    border: 2px solid;
}

.delete-semester-icon:hover {
    cursor: pointer;
    font-weight: bold;
}

.info-subject>div>div>.row:first-child {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-subject>div>div>.row {
    font-weight: normal;
    height: 20px;
    font-size: 0.8em;
}

.info-subject>div {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

#normal {
    background-color: #a19f9f;
}

#available {
    background-color: #8bc34a;
}

#inprogress {
    background-color: #FFB300;
}

#completed {
    background-color: #0288D1;
}

#prerequisite {
    height: 26.8px;
    background-color: #a19f9f;
    border-style: solid;
    border-width: 2.5px;
    border-color: #e03b2f;
    padding: 2px;
}

#overlay {
    background-color: #a19f9f;
    border-style: solid;
    border-width: 2.5px;
    border-color: #0288D1;
    padding: 2px;
}

.cdk-drag-preview {
    box-sizing: border-box;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .subject_comp:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.subject-comp {
    display: flex;
    flex-direction: row;
}

.dropdown {
    border-radius: 0;
    height: 100%;
    float: left;
}

.dropdown-toggle {
    border-radius: 0;
    height: 100%;
}

.operation-icons {
    max-width: 200px;
    width: 20%;
    height: 100%;
    float: right;
}

.operation-icons .btn {
    padding: 0;
    padding-top: 2px;
    width: 40%;
}

.operation-icons .btn:first-child {
    margin-left: 10%;
}

.operation-icons>div {
    width: 50%;
}

.add-columns-icon {
    background-color: transparent;
    color: white;
    border-style: none;
    width: 100%;
    height: 47px;
    text-align: center;
    line-height: 0.8;
    float: left;
}

.add-columns-icon:hover>span {
    font-weight: bold;
}


.add-columns-icon>p {
    font-size: 0.7em;
    width: 100%;
}

.add-columns-icon>span {
    font-size: 2.2em;
    line-height: 0.8;
    width: 100%;
}

.semester>div>div {
    margin-top: 15px;
    margin-top: 10px;
    height: 30px;
    border-style: none;
    background-color: #F4F4F4;
    width: 100%;
    color: black;
    font-size: 1em;
    text-align: center;
}

.new-subject-form {
    width: 300px;
}

.subj-type>label {
    margin-right: 15px;
    width: auto;
}

.cont-action {
    margin-top: 50px;
}

.action-buttons {
    margin-left: 5px;
    margin-bottom: 200px;
    width: 100%;
    margin-top: 100px;
    width: 100%;
    height: 50px;
    text-align: center;
}

.action-buttons>div>button {
    width: 100%;
    height: 50px;
}

.action-buttons>div>button:hover {
    background-color: black;
    font-style: italic;
}

.action-buttons>div {
    background-color: transparent;
    height: 100%;
    border-style: none;
    max-width: 150px;
}

.delete-forever-btn {
    border-radius: 12px;
    text-align: center;
    background-color: #e60101;
    color: white;
    line-height: 0.8;
}

.save-btn {
    border-radius: 12px;
    text-align: center;
    background-color: #002851;
    color: white;
    line-height: 0.8;
}

.load-btn {
    border-radius: 12px;
    text-align: center;
    background-color: #002851;
    color: white;
    line-height: 0.8;
}

.action-buttons>button>span {
    font-size: 2em;
}

.action-buttons>button>p {
    font-size: 0.7em;
    font-weight: bold;
}

.file-input {
    display: none;
}

.footer-info {
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
}

.header-logo {
    float: left;
}

.header-icons>button {
    float: right;
    background-color: transparent;
    width: 6%;
    min-width: 50px;
    height: 55px;
    text-align: center;
    line-height: 0.8;
    margin-top: 5px;
    border-style: none;
    margin-right: 2%;
    color: white;
}

.header-icons>button>span {
    font-size: 2.2em;
}

.header-icons>button:hover>span {
    font-weight: bold;
}

.header-logo {
    margin-left: 20px;
    height: 65px;
}

.header-logo>a>img {
    height: 100%;
}

.dark-mode {
    background-color: #1c1c1c;
}

.dark-mode-text {
    color: white !important;
}

.dark-mode-border {
    border-color: white !important;
    border-width: 1px;
    border-style: solid;
}

.dark-mode-border-thicker {
    border-color: white;
    border-width: 2px;
}

.dark-mode-title {
    background-color: #1c1c1c;
}

.warning {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.2em;

}

.warning>span:first-child {
    color: orange;
    font-weight: bold;
}

.actions-info {
    margin-bottom: 0px;
    font-weight: bold;
}

.instruction-text>p>a {
    color: black;
    text-decoration: underline;
}

.instruction-text>p>a:hover {
    font-style: italic;
    color: black;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.not-enrolled-info {
    color: #a19f9f;
}

.available-info {
    color: #8bc34a;
}

.enrolled-info {
    color: #FFB300;
}

.completed-info {
    color: #0288D1;
}

.overlay-info {
    color: #0288D1;
    font-weight: bold;
}

.prerequisite-info {
    color: red;
    font-weight: bold;
}

.action-options {
    border: 1px solid;
}

.action-options>li>button:hover {
    background-color: #002851;
    color: white;
}

.custom-modal-button {
    background-color: #7cd1f9;
    border-color: grey;
    border-style: double;
}

.custom-modal-button:hover {
    background-color: #73bfe6;
}

@media only screen and (max-width: 480px) {
    .subject-main>div>div {
        min-width: 50%;
    }

    main {
        width: 90%;
        margin-left: 5%;
    }

    .header-icons>button>p {
        display: none;
    }

    .hide {
        display: none;
    }

    .operation-icons {
        width: 30%;
    }

    .color-desc>ul>li {
        font-size: 0.4em;
    }

    .progress-credits {
        display: none;
    }

    .progress-in-numbers {
        display: none;
    }

    .progress-col {
        width: 100%;
        padding-right: 0px;
    }

    .progress-bar {
        width: 100%;
    }

    div:has(> .progress-col) {
        margin: 0;
        padding: 0;
    }

    .action-buttons>div {
        max-width: 100px;
    }

    .action-buttons>div>button>span {
        margin-top: 5px;
        font-size: 1.4em;
    }

    .action-buttons>div>button>p {
        font-size: 0.8em;
    }

    .instruction-text {
        font-size: 0.7em;
        padding-right: 5px;
        padding-left: 5px;
    }

    .info-title {
        font-size: 1em;
        margin-bottom: 0.2rem;
    }


    .info-subject>div>div>.row {
        font-size: 0.8em;
    }

    .info-subject>div {
        font-size: 0.6em;
    }

    .info-subject {
        width: 200px;
    }
}


@media only screen and (min-width:480px) and (max-width: 768px) {
    .subject-main>div>div {
        min-width: 33%;
    }

    main {
        width: 90%;
        margin-left: 5%;
    }

    .hide {
        display: none;
    }

    .header-icons>button>p {
        display: none;
    }

    .operation-icons {
        width: 30%;
    }

    .color-desc>ul>li {
        font-size: 0.4em;
    }

    .progress-credits {
        display: none;
    }

    .progress-in-numbers {
        display: none;
    }

    .progress-col {
        width: 100%;
        padding-right: 0px;
    }

    .progress-bar {
        width: 100%;
    }

    div:has(> .progress-col) {
        margin: 0;
        padding: 0;
    }

    .action-buttons>div {
        max-width: 100px;
    }

    .action-buttons>div>button>span {
        margin-top: 5px;
        font-size: 1.4em;
    }

    .action-buttons>div>button>p {
        font-size: 0.8em;
    }

    .instruction-text {
        font-size: 0.7em;
        padding-right: 5px;
    }
}

@media only screen and (min-width:768px) and (max-width: 1150px) {
    .subject-main>div>div {
        min-width: 25%;
    }

    main {
        width: 80%;
        margin-left: 10%;
    }

    .hide {
        display: none;
    }

    .operation-icons {
        width: 30%;
    }

    div:has(> .progress-col) {
        margin: 0;
        padding: 0;
    }

    .action-buttons>div {
        max-width: 120px;
    }

    .instruction-text {
        font-size: 0.7em;
        padding-right: 5px;
    }
}

@media only screen and (min-width:1150px) and (max-width: 1280px) {
    .subject-main>div>div {
        height: 100%;
        min-width: 20%;
    }

    .add-columns-icon>p {
        font-size: 0.65em;
    }
}