<header>
  <div class="row">
    <div class="col header-logo">
      <img src="./assets/elte.png" alt="ELTE logo">
    </div>
    <div class="col header-icons">
      <button>
        <span *ngIf="!isDarkMode" class="material-symbols-outlined">
          dark_mode
        </span>
        <span *ngIf="isDarkMode" class="material-symbols-outlined">
          light_mode
        </span>
        <p>
          {{getDarkModeText()}}
        </p>
      </button>
      <button (click)="changeLanguage()">
        <span class="material-symbols-outlined">
          language
        </span>
        <p *ngIf="isLanguageHu" lang="hu">
          HU
        </p>
        <p *ngIf="!isLanguageHu" lang="en">
          EN
        </p>
      </button>
    </div>
  </div>
</header>

<main>
  <div class="modal fade" id="deleteSubjectModal" tabindex="-1" aria-labelledby="deleteSubjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteSubjectModalLabel">{{modalTitleText}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{modalBodyText}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{modalSecondButtonText}}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="deleteSubject()">{{modalFirstButtonText}}</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h1>
      <span *ngIf="isLanguageHu" lang="hu">
        ELTE IK - Tantervi háló
      </span>
      <span *ngIf="!isLanguageHu" lang="en">
        ELTE IK - Program Structure
      </span>
    </h1>
    <div>
      <h2 *ngIf="isLanguageHu" lang="hu">
        Használati utasítás
      </h2>
      <h2 *ngIf="!isLanguageHu" lang="en">
        Instructions
      </h2>
      <p *ngIf="isLanguageHu" lang="hu">
        Az oldal célja, hogy a hallgatókat segítse a tárgyak egymásraépülésének interatkív ábrázolásával. Az oldalon
        lehetőség van a már teljesített tárgyak, a hallgató számára aktuálisan felvehető tárgyak és a függőségek
        megjelenítésére.
      </p>
      <p *ngIf="!isLanguageHu" lang="en">
        The purpose of the website is to assist students in visualizing the interdependency of subjects.
        The site displays the completed subjects, currently available subjects to enroll in and their
        dependencies.
      </p>
    </div>

    <div>
      <div class="subject_header">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{currentSpecName}}
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let s of specNames; let i = index">
              <button (click)="changeSpec(i)" class="dropdown-item" type="button">{{specNames[i]}}</button>
            </li>
          </ul>
        </div>

        <div class="operation_icons">
          <div class="btn-group dropend">
            <button class="add_columns_icon btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="material-symbols-outlined">
                add_circle
              </span>
              <p *ngIf="isLanguageHu" lang="hu">
                Tárgy felv.
              </p>
              <p *ngIf="!isLanguageHu" lang="en">
                Add subject
              </p>
            </button>
            <div class="dropdown-menu">
              <form #newSubjectForm="ngForm" (ngSubmit)="submitForm(newSubjectForm)" class="new_subject_form px-4 py-3">
                <div class="mb-3">
                  <label for="spec" class="form-label">Típus</label>
                  <select class="form-control" id="spec" name="spec" [(ngModel)]="subjectToAddSpecType">
                    <option value="obligatory">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Kötelezően választható
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Elective
                      </span>
                    </option>
                    <option value="not obligatory">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Szabadon választható
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Optional course
                      </span>
                    </option>
                  </select>
                </div>
                <div *ngIf="subjectToAddSpecType=='not obligatory'">
                  <div class="mb-3">
                    <label for="code" class="form-label">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Kód
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Code
                      </span>
                    </label>
                    <input type="text" class="form-control" id="code" placeholder="IP-18PROGEG" name="code"
                      [(ngModel)]="optionalSubjectsForm.code">
                    <p id="code-warning"> </p>
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Név
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Name
                      </span>
                    </label>
                    <input type="text" class="form-control" id="name" placeholder="Programozás" name="name"
                      [(ngModel)]="optionalSubjectsForm.name">
                    <p id="name-warning"> </p>
                  </div>
                  <div class="mb-3">
                    <label for="credit" class="form-label">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Kredit
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Credit
                      </span>
                    </label>
                    <input type="number" class="form-control" id="credit" placeholder="5" name="credit"
                      [(ngModel)]="optionalSubjectsForm.credit">
                  </div>
                  <div class="mb-3">
                    <div class="subj_type">
                      <label *ngIf="!(specLinks[currentSpecIdx]=='angol')" lang="hu" class="radio-inline"><input type="radio" name="type" checked
                          value="EA" [(ngModel)]="optionalSubjectsForm.type">
                        <span *ngIf="isLanguageHu" lang="hu">
                          EA
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          L
                        </span>
                      </label>
                      <label *ngIf="specLinks[currentSpecIdx]=='angol'" lang="en" class="radio-inline"><input type="radio" name="type"
                          checked value="L" [(ngModel)]="optionalSubjectsForm.type">
                        <span *ngIf="isLanguageHu" lang="hu">
                          EA
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          L
                        </span>
                      </label>
                      <label *ngIf="!(specLinks[currentSpecIdx]=='angol')" lang="hu" class="radio-inline"><input type="radio" name="type"
                          value="GY" [(ngModel)]="optionalSubjectsForm.type">
                        <span *ngIf="isLanguageHu" lang="hu">
                          GY
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          P
                        </span>
                      </label>
                      <label *ngIf="specLinks[currentSpecIdx]=='angol'" lang="en" class="radio-inline"><input type="radio" name="type"
                          value="P" [(ngModel)]="optionalSubjectsForm.type">
                        <span *ngIf="isLanguageHu" lang="hu">
                          GY
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          P
                        </span>
                      </label>
                      <label class="radio-inline"><input type="radio" name="type" value=""
                          [(ngModel)]="optionalSubjectsForm.type">
                        <span *ngIf="isLanguageHu" lang="hu">
                          EA+GY
                        </span>
                        <span *ngIf="!isLanguageHu" lang="en">
                          L+P
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="semesterNumber" class="form-label">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Félév
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Semester
                      </span>
                    </label>
                    <select class="form-control" id="semesterNumber" name="semester"
                      [(ngModel)]="optionalSubjectsForm.semester">
                      <option *ngFor="let c of subjects[currentSpecIdx]; let i = index" value={{i}}>{{i+1}}</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="subjectToAddSpecType=='obligatory'">
                  <div class="mb-3">
                    <label for="obligSpecSubject" class="form-label">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Név
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Name
                      </span>
                    </label>
                    <select class="form-control" id="obligSpecSubject" name="obligName"
                      [(ngModel)]="electiveSubjectsForm.name">
                      <option *ngFor="let s of electiveSubjects[currentSpecIdx]; let i = index" value={{i}}>
                        {{s.name}} {{s.type}}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="semesterNumber" class="form-label">
                      <span *ngIf="isLanguageHu" lang="hu">
                        Félév
                      </span>
                      <span *ngIf="!isLanguageHu" lang="en">
                        Semester
                      </span>
                    </label>
                    <select class="form-control" id="semesterNumber" name="semester"
                      [(ngModel)]="electiveSubjectsForm.semester">
                      <option *ngFor="let c of subjects[currentSpecIdx]; let i = index" value={{i}}>{{i+1}}</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="subjectToAddSpecType!==''">
                  <button [disabled]="!checkForm()" type="submit" class="btn btn-primary">
                    <span *ngIf="isLanguageHu" lang="hu">
                      Felvesz
                    </span>
                    <span *ngIf="!isLanguageHu" lang="en">
                      Add
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <button class="btn add_columns_icon" (click)="addSemester()">
            <span class="material-symbols-outlined">
              add_box
            </span>
            <p *ngIf="isLanguageHu" lang="hu">
              Félév felv.
            </p>
            <p *ngIf="!isLanguageHu" lang="en">
              Add semester
            </p>
          </button>
        </div>

      </div>
    </div>

    <div class="subject_main container" (click)="updateCurrentSubjectCode('')">
      <div class="row flex-nowrap overflow-auto" cdkDropListGroup>

        <div class="col" *ngFor="let c of subjects[currentSpecIdx]; let i = index">
          <div class="semester">
            <div class="btn-group dropend">
              <button class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span *ngIf="isLanguageHu" lang="hu">
                  {{i+1}}. félév
                </span>
                <span *ngIf="!isLanguageHu" lang="en">
                  {{i+1}}. semester
                </span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" (click)="deleteSemester(i)" type="button">
                    <span *ngIf="isLanguageHu" lang="hu">
                      Félév törlése
                    </span>
                    <span *ngIf="!isLanguageHu" lang="en">
                      Delete semester
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="list-{{i}} subjects" cdkDropList (cdkDropListDropped)="drop($event,i)">
            <app-subject class="subject_comp" *ngFor="let s of subjects[currentSpecIdx][i]; let j = index"
              [parentData]="s" [languageData]="isLanguageHu" (notifyDeleteSubject)="showDeleteSubjectModal($event,i)"
              (notifyStatusChange)="changeSubjectStatus($event,i)" cdkDrag [cdkDragDisabled]="s.status!==0"
              click-stop-propagation>
            </app-subject>
          </div>
          <div class="credits">
            <p *ngIf="isLanguageHu" lang="hu">Felvett: {{enrolledCreditsSemester[i]}}</p>
            <p *ngIf="!isLanguageHu" lang="en">Enrolled: {{enrolledCreditsSemester[i]}}</p>
            <p *ngIf="isLanguageHu" lang="hu">Teljesített: {{completedCreditsSemester[i]}}</p>
            <p *ngIf="!isLanguageHu" lang="en">Completed: {{completedCreditsSemester[i]}}</p>
          </div>

        </div>

      </div>

    </div>
    <div class="subject_footer container">

      <div class="row">
        <div class="col progress_col">
          <div class="progress_bar">
            <div class="progress-completed" [style.width]="completedCreditsPerc">
            </div>
            <div class="progress-enrolled" [style.width]="enrolledCreditsPerc">
            </div>
          </div>
          <div class="progress_in_numbers">
            <span *ngIf="isLanguageHu" lang="hu">
              {{completedCredits}}/180 kredit
            </span>
            <span *ngIf="!isLanguageHu" lang="en">
              {{completedCredits}}/180 credits
            </span>
          </div>
        </div>

        <div class="col-1 color_desc">
          <ul>
            <li id="completed">
              <span *ngIf="isLanguageHu" lang="hu">
                Teljesített
              </span>
              <span *ngIf="!isLanguageHu" lang="en">
                Completed
              </span>
            </li>
            <li id="inprogress">
              <span *ngIf="isLanguageHu" lang="hu">
                Felvett
              </span>
              <span *ngIf="!isLanguageHu" lang="en">
                Enrolled
              </span>
            </li>
            <li id="normal">
              <span *ngIf="isLanguageHu" lang="hu">
                Nem felvett
              </span>
              <span *ngIf="!isLanguageHu" lang="en">
                Not enrolled
              </span>
            </li>
            <li id="prerequisite">
              <span *ngIf="isLanguageHu" lang="hu">
                Közv. előkövetelmény
              </span>
              <span *ngIf="!isLanguageHu" lang="en">
                Prerequisite
              </span>
            </li>
            <li id="overlay">
              <span *ngIf="isLanguageHu" lang="hu">
                Ráépülő
              </span>
              <span *ngIf="!isLanguageHu" lang="en">
                Overlay
              </span>
            </li>
          </ul>

        </div>
      </div>

    </div>

    <div class="action-buttons row">
      <button class="col delete-forever-btn" (click)="resetSyllabus()">
        <span class="material-symbols-outlined">
          delete_forever
        </span>
        <p *ngIf="isLanguageHu" lang="hu">
          Törlés
        </p>
        <p *ngIf="!isLanguageHu" lang="en">
          Reset
        </p>
      </button>
      <button class="col save-btn" (click)="saveSyllabusToFile()">
        <span class="material-symbols-outlined">
          save_as
        </span>
        <p *ngIf="isLanguageHu" lang="hu">
          Mentés
        </p>
        <p *ngIf="!isLanguageHu" lang="en">
          Save
        </p>
      </button>
      <button class="col load-btn" (click)="fileUpload.click()">
        <span class="material-symbols-outlined">
          reopen_window
        </span>
        <p *ngIf="isLanguageHu" lang="hu">
          Betöltés
        </p>
        <p *ngIf="!isLanguageHu" lang="en">
          Load
        </p>
      </button>
    </div>

  </div>

  <input type="file" accept=".txt" class="file-input" (change)="openFile($event)" #fileUpload>

</main>

<footer>
  <div>
    <div class="footer-info">
      2024 | ELTE IK
    </div>
  </div>
</footer>