<div *ngIf="{box}" class="subject-box border{{box.border}} status{{box.status}}" [ngClass]="box.status==0 && box.isAvailable ? 'status-available' : 'status{{box.status}}'" (click)="statusChange()">
    <div class="div-name">
        <p class="subject-name">{{box.name}} {{box.type}} </p>
    </div>
    <div class="div-credit">
        <p class="subject-credit"> {{box.credit}} kredit </p>
    </div>
    <div class="dropend" id="info">
        <div class="more-icon" click-stop-propagation data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="material-symbols-outlined">
                more_horiz
            </span>
        </div>
        <div click-stop-propagation class="dropdown-menu info-subject">
            <div>
                <p class="info-text"> 
                    <span *ngIf="languageIsHu" lang="hu">Név:</span> 
                    <span *ngIf="!languageIsHu" lang="en">Name:</span>
                    {{box.name}} {{box.type}}
                    <br>
                    <span *ngIf="languageIsHu" lang="hu">Kód:</span> 
                    <span *ngIf="!languageIsHu" lang="en">Code:</span> 
                    {{box.code}}
                    <br>
                    <span *ngIf="languageIsHu" lang="hu">Kredit:</span> 
                    <span *ngIf="!languageIsHu" lang="en">Credit:</span> 
                    {{box.credit}}
                    <br>
                    <span *ngIf="languageIsHu" lang="hu">Ajánlott félév:</span> 
                    <span *ngIf="!languageIsHu" lang="en">Proposed semester:</span> 
                    {{box.proposedSemester}}
                    <br>
                    <span *ngIf="languageIsHu" lang="hu">Előfelt.:</span> 
                    <span *ngIf="!languageIsHu" lang="en">Prereq.:</span> 
                    {{showPre()}}
                    <br>
                    <span *ngIf="languageIsHu" lang="hu">Típus:</span> 
                    <span *ngIf="!languageIsHu" lang="en">Type:</span> 
                    {{getSpec()}}
                    <br>
                    <span *ngIf="languageIsHu" lang="hu">Ismeretkör: <span style="font-weight:normal"> {{box.ken}} </span></span> 
                </p>
            </div>
            <button class="dropdown-item" [disabled]="box.spec=='Kötelező'" data-bs-toggle="modal" data-bs-target="#deleteSubjectModal"
                (click)="deleteSubject()" click-stop-propagation type="button">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </button>
        </div>
    </div>
    <div *ngIf="box.status==0 && !box.isAvailable" class="status-icon" click-stop-propagation>
        <span class="material-symbols-outlined">
            block
        </span>
    </div>
    <div *ngIf="box.status==0 && box.isAvailable" class="status-icon" click-stop-propagation>
        <span class="material-symbols-outlined">
            add_task
        </span>
    </div>
    <div *ngIf="box.status==1" class="status-icon" click-stop-propagation>
        <span class="material-symbols-outlined">
            clock_loader_40
        </span>
    </div>
    <div *ngIf="box.status==2" class="status-icon" click-stop-propagation>
        <span class="material-symbols-outlined">
            verified
        </span>
    </div>

</div>