.subject_box {
    height : 40px;
    width : 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    border-style: solid;
    position: relative;
}

.border0{
    border-style:dashed;
}

.border1{
    border-style: solid;
    border-width: 3px;
}

.border2{
    border-style: solid;
    border-width: 3px;
    border-color: #e03b2f;
}

.border3{
    border-style: solid;
    border-width: 3px;
    border-color: #667de3;
}

.subject_name{
    margin-bottom: 0;
    font-weight: bold;
    word-wrap: break-word;
    font-size: 0.42em;
    text-align: center;
}

.subject_credit{
    font-size: 0.42em;
    text-align: center;
}

.div_name{
    height: 25px;
}

.div_credit{
    height: 5px;
}

.status0{
    background-color: #a19f9f;
}

.status1{
    background-color: #667de3;
}

.status2{
    background-color: #75b86a;
}

#info{
    position: relative;
}

.more_icon{
    position:absolute;
    right:2px;
    top:-12px;
    height:10px;
}

.warning_icon{
    position:absolute;
    left:2px;
    bottom:1px;
    height:18px;
    color: #e03b2f;
    border-radius: 5px;
    
}

.warning_icon>span{
    font-size:1em;
    font-weight: bold;
}

.infoText{
    font-size: 0.7em;
    margin-left: 5px;
}

.info-subject{
    width:200px;
}

.infoText>span{
    font-weight: bold;
}

.info-subject>button{
    margin-left: 35%;
    width: 30%;
}

.info-subject>button>span{
    text-align: center;
    width: 100%;
}

